body{
background-color: var(--background-color);
color:var(--text-color);
}
.nav-link {
  color: var(--text-color);
}
a{
  
  color: var(--text-color);
}
.navbar{
  background-color: var(--nav-color)!important;
color:var(--text-color);
}
textarea.form-control {
  /* min-height: calc(1.5em + 0.75rem + calc(var(--bs-border-width) * 2)); */
  box-shadow:  var(--box-shadow);
}