:root{
  --background-color:white;
  --text-color:black;
  --nav-color:#0d6efd61;
  --box-shadow:4px 7px 10px #a3c8fee3;
}

[dark-theme="dark"]{
  --background-color:rgb(0, 0, 0);
  --text-color:white;
  --nav-color:#232324;
  --box-shadow:1px -4px 55px #767373;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
